.section {
  position: relative;
  padding: 5rem 0;
  background: transparent;
}

@media (min-width: 768px) {
  .section {
    padding: 6.5rem 0;
  }
}

.section:nth-child(even) {
  background: transparent;
}
